@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@layer reset {
  * {
    padding: 0;
    margin: 0;
  }

  button {
    all: unset;
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }
}

:root {
  --background: #171717;
  --foreground: #fff5f5;

  --primary: #0139cc;
  --secondary: #ffe600;

  --accent-100: #272727;
  --accent-200: #323030;

  --border-100: #4d4949;

  --red: #cc0134;

  --fs-heading: 2rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Reddit Sans", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--border-100);
  padding-block: 20px;

  @media (width <= 780px) {
    padding: 8px;
  }
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.logo {
  display: flex;
  align-items: baseline;
  font-size: var(--fs-heading);
  color: var(--secondary);
  font-weight: 500;
}

.logo > span {
  color: var(--foreground);
  font-style: italic;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
}

.todo-input-container {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-100);
  padding: 8px;
  border: none;
  border: 2px solid #fff5f5;
  border-radius: 1000px;

  @media (width <= 780px) {
    width: 80%;
  }
}

.todo-input {
  font-size: 20px;
  border: none;
  padding-left: 16px;
  color: var(--foreground);
  background-color: transparent;

  &::placeholder {
    font-weight: 200;
    font-style: italic;
  }

  &:focus {
    outline: none;
  }

  @media (width <= 780px) {
    font-size: 1rem;
    padding: 8px;
  }
}

.todo-add-button {
  border-radius: 1000px;
  background-color: var(--primary);
  padding: 1rem;

  & > svg {
    display: block;
    fill: var(--foreground);
  }

  @media (width <= 780px) {
    font-size: 1rem;
    padding: 8px;
  }
}

.todos {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 780px;

  @media (width <= 780px) {
    width: 80%;
  }
}

.todo {
  font-size: 18px;
  background-color: var(--accent-200);
  border: none;
  border-radius: 12px;
  padding-inline: 16px;
  padding-block: 8px;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
}

.clear {
  text-decoration: line-through;
  opacity: 0.5;
}

.icon {
  & > svg {
    display: block;
    line-height: 0;
    height: 24px;
    width: 24px;
    fill: white;
  }
}

.delete {
  & > svg {
    display: block;
    line-height: 0;
    height: 24px;
    width: 24px;
    fill: var(--red);
  }
}
